@use '../../styles/partials/mixins' as*;

.login__form {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include tablet {
        flex-direction: row;
    }

    &__cont {
        display: flex;
        flex-direction: column;
        margin: auto auto;
        gap: 2rem;

        &--div {
            // align-self: center;
            display: flex;
        }
    }

}

// .login__form__cont{
//     display: flex;
//     flex-direction: column;
//     margin: auto auto;
// }

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    // background-color: #95795d;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

    @include tablet {
        height: 60vh;
    }
}

form {
    // width: 300px; /* Adjust the width of the form */
    /* Add other styles as needed */
}

.login__form--label {
    font-size: 18px;
    margin-right: 2rem;
    width: 100%;
    font-family: cursive;
    align-items: center;
    display: flex;
}

.login__form--input {
    padding: .5rem;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    width: 10rem;

    &:focus {
        border: 2px solid #13424a;
        // outline: blue;
    }
}

.login__form--button {
    align-items: flex-start;
    display: flex;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.2rem;

    @include tablet {
        // align-items: center;
        // align-items: start;
        justify-content: center;
        align-items: center;
    }

    &--item {
        @include login-button;
        font-size: 18px;
        color: black;
        padding: .2rem .5rem;
       
    }

    &--next {
        font-size: 14px;
        font-weight: 600;
        padding-top: 1rem;
        font-style: italic;
        cursor: pointer;

        &:hover {
            color: #13424a;
        }
    }

    // &--navink {
    //     // list-style-type: none;
    //     @include active-input();
    //     text-decoration: none;
    //     color: black;
    //     cursor: pointer;

    //     &:hover {
    //         color: blue;
    //     }
    // }
}

.errorMessage {
    display: flex;
    color: #d80b0b;
    font-weight: 400;
}

.popup--modal {
    // background-color: white;
    background-color: #95795d;
    padding: 1.25rem;
    width: 90%;
    height: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #13424a;

    @include tablet {
        // bottom: 20rem;
        // left: 5rem;
        border-radius: 4px;
        width: 80%;
        height: 70%;
        margin: auto;
        margin-top: 16vh;
        padding: 1rem;
    }

    @include desktop {
        width: 60%;
        height: 70%;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        align-self: center;
    }
}

.close {
    display: none;
}

.loginSuccess {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;

    &--message {
        font-size: 14px;
        color: #13424a;
        align-items: center;
        display: flex;

    }

    &--button {
        @include login-button();
    }

}

.register--message{
    margin-top: 2rem;
    color: red;
    font-size: 14px;

}