@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.booking__details--header {
    height: 4rem;
    padding: 1rem 3rem;
}

.booking__details--form {
    display: flex;
    flex-direction: row;

    &--section {
        width: 50%;
    }
}

.choose__date--option {
    padding: 0 .3rem;
}

.booking__deatils--form--label {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
    gap: .2rem;
    font-weight: 600;
    margin: 1rem 3rem;
}

.booking__deatils--form--input {
    width: 90%;
    height: fit-content;
    border-radius: 20px;
    margin: 0 auto;
    padding: .5rem;
}

.booking__details--button {
    margin: 1rem 3rem;
    display: flex;
    justify-content: flex-end;
    gap: 4rem;

    &__item {
        cursor: pointer;
        background-color: $button_background;
        color: $primary_text_color;
        border: none;
        width: 10%;
        height: 2rem;
        border-radius: 12px;

        &:hover {
            background-color: $button_hover;
        }
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: $lightgray;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    text-align: center;
    position: relative;
    top: 15rem;
    margin: 0 auto;
    font-size: 12px;

    @include tablet {
        font-size: 1rem;
    }

    &__title-cont {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    &__title {
        color: $primary_text_color;
        font-size: 17px;
        display: flex;
        text-align: center;

        &--title {
            font-size: 20px;
            color: $primary_text_color;
            text-align: center;
        }
    }
    &__button {
        cursor: pointer;
        align-self: flex-end;
        width: 2rem;
        height: 2rem;
        border: none;
        background-color: transparent;
        color: $primary_text_color;
        font-weight: bolder;
        margin-top: 1.5rem;

        @include tablet {
            width: 3rem;
            height: 2rem;
        }
    }
}