@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.dashboard__name{
    margin : 1rem;
    font-size: 14px;

    @include tablet{
        margin: 1rem 2rem;
        font-size: 16px;
    }
    @include desktop{
        margin: 2rem 4rem;
        font-size: 18px;
    }
}
.dashboard__cards {
    display: flex;
    align-items: center;
    justify-content: center;

    &--item {
        padding: .5rem;
        font-weight: 200;
        border: 1px solid $divider_color;
        border-radius: 6px;
        text-align: center;
        width: 12rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        font-size: 12px;
        font-weight: 600;
        align-self: stretch;
        cursor: pointer;
        background-color: #13424a;
        color: white;
        @include tablet{
            font-size: 14px;
        }
        @include desktop{
            font-size: 16px;
        }
        &:hover {
            background-color: #2e616a;
        }
    }
}

.dashboard__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include tablet{
        margin: 1rem 2rem;
    }
    @include desktop{
        margin: 2rem 3rem;
    }

    &--link {
        text-decoration: none;
        font-weight: 900;
    }

    &--list {
        display: flex;
        flex-direction: column;
        letter-spacing: 0.5px;
        padding: 1rem;
        border: 1px solid lightgray;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        width: 15rem;
        font-weight: 400;

        &--label {
            font-size: 14px;
        }
        &--data{
            font-size: 14px;
        }

        &--image {
            width: 6rem;

            &--src {
                object-fit: contain;
                border-radius: 20%;
            }
        }
    }

}

.dashboard__image {
    // display: flex;
    // gap: 4rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-size: 14px;

    &--cont {
        width: 1.4rem;
        height: 1rem;

        &-item{
            object-fit: contain;
        }
    }

}

.green {
    color: green;
}

.orange {
    color: orange;
}

// .dashboard__image--cont{
//     width: 1.4rem;
//     height: 1rem;
// }

.data--container {
    display: flex;
    line-height: 25px;
}

.profile {
    margin: 1rem 0;
    @include tablet{
        margin: 1rem 1rem;
    }
    @include desktop{
        margin: 2rem 3rem;
    }
    &__title {
        margin: 1rem;
        font-size: 14px;
        @include desktop{
            font-size: 16px;
        }
    }

}

.profile__data {
    display: flex;

    // flex-direction: column;
    @include tablet {
        flex-direction: row;
    }

    &--cont {
        width: 50%;
    }

    &--label {
        font-weight: 600;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        // padding: 1rem;
        margin: 1rem 1rem;
        @include desktop{
            font-size: 14px;
        }
    }

    &--item {
        font-size: 12px;
        width: 60%;
        padding: 2%;
        margin: .5rem 0;
        @include desktop{
            font-size: 14px;
        }
    }
}

.profile__save {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;

    // justify-content: center;
    @include tablet {
        justify-content: flex-end;
        margin: 1rem;
    }

    &--button {
        display: flex;
        border: none;
        border: 1px solid gray;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: .4rem;
        border-radius: 6px;
        background-color: #635046;
        color: white;
        width: 20%;
        height: 2rem;
        font-size: 10px;
        @include tablet{
            font-size: 12px;
            gap: 1rem;
        }
        @include desktop{
            font-size: 14px;
        }
        &:hover {
            background-color: #222;
        }
    }

    &--cont {
        display: flex;
        flex-direction: row;
        width: 1.5rem;
    }
}

.backgroundBrown {
    background-color: #8f786c;
    color: black;
}

.backgroundOffwhite {
    background-color: #dbd3d0;
    color: black;
}

.booking-details {
    display: flex;
    margin: 4rem;
    gap: 2rem;
    align-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    &__item{
        display: flex;
        gap: 2rem;
    }
    &__cont {
        width: 12rem;
        object-fit: cover;

        &--image {
            width: 100%;
            height: 100%;
        }
    }
}

// .booking-details__cont{
//     width: 12rem;
//     object-fit: cover;
//     &--image{
//         width: 100%;
//         height: 100%;
//     }
// }