@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.dashboard__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 1rem;

    &--item {
        padding: .5rem;
        font-weight: 200;
        border: 1px solid $divider_color;
        border-radius: 6px;
        text-align: center;
        width: 12rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        font-size: 14px;
        font-weight: 600;
        align-self: stretch;
        cursor: pointer;    
        background-color: #13424a;
        color: white;


        &:hover {
            background-color: #2e616a;
        }
    }
}

.dashboard__details {
    display: flex;
    flex-wrap: wrap;
    &--link{
        text-decoration: none;
        font-weight: 900;
    }
    &--list {
        display: flex;
        flex-direction: column;
        letter-spacing: 0.5px;
        padding: 1rem;
        border: 1px solid lightgray;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        width: 15rem;
        font-weight: 400;

        &--label {}

        &--image {
            width: 6rem;


            &--src {
                object-fit: contain;
                border-radius: 20%;
            }
        }

        // &--data{
        //     // font-weight: 600;
        //     // letter-spacing: 1px;
        //     // line-height: 25px;
        // }
    }

}

.dashboard__image {
    // display: flex;
    // gap: 4rem;
    padding: 1rem;

    &--cont {
        width: 1.4rem;
        height: 1rem;
    }

}

// .dashboard__image--cont{
//     width: 1.4rem;
//     height: 1rem;
// }

.data--container {
    display: flex;
    line-height: 25px;
}

.profile {
    &__title {
        margin: 1rem;
        font-size: 18px;
    }

}

.profile__data {
    display: flex;

    // flex-direction: column;
    @include tablet {
        flex-direction: row;
    }

    &--cont {
        width: 50%;
    }

    &--label {
        font-weight: 600;
        display: flex;
        flex-direction: column;
        // padding: 1rem;
        margin: .5rem 1rem;
    }

    &--item {
        width: 60%;
        padding: 0.4rem;
        margin: .5rem 0;
    }
}

.profile__save {
    display: flex;

    // justify-content: center;
    @include tablet {
        justify-content: flex-end;
        margin: 1rem;
    }

    &--button {
        display: flex;
        border: none;
        border: 1px solid gray;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: .4rem;
        border-radius: 6px;
        background-color: #635046;
        color: white;
        width: 20%;
        height: 2rem;

        &:hover{
            background-color: #222;
        }


    }


    &--cont {
        display: flex;
        flex-direction: row;
        width: 1.5rem;
    }
}

// .profile__image--cont{
//     display: flex;
//     flex-direction: row;
//     width: 1.5rem;
//     align-items: center;
//     gap: .4rem;
// }
.backgroundBrown{
    background-color: #8f786c;
    color: black;
}
.backgroundOffwhite{
    background-color: #dbd3d0;
    color: black;
}