@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.dashboard__name{
    margin : 1rem;
    font-size: 14px;

    @include tablet{
        margin: 1rem 2rem;
        font-size: 16px;
    }
    @include desktop{
        margin: 2rem 4rem;
        font-size: 18px;
    }
}
.dashboard__cards {
    display: flex;
    align-items: center;
    justify-content: center;

    &--item {
        padding: .5rem;
        font-weight: 200;
        border: 1px solid $divider_color;
        border-radius: 6px;
        text-align: center;
        width: 12rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        font-size: 12px;
        font-weight: 600;
        align-self: stretch;
        cursor: pointer;
        background-color: $primary_background_color;
        color: $primary_text_color;
        @include tablet{
            font-size: 14px;
        }
        @include desktop{
            font-size: 16px;
        }
        &:hover {
            background-color: $dashboard_hover;
        }
    }
}

.dashboard__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include tablet{
        margin: 1rem 2rem;
    }
    @include desktop{
        margin: 2rem 3rem;
    }

    &--link {
        text-decoration: none;
        font-weight: 900;
    }

    &--list {
        display: flex;
        flex-direction: column;
        letter-spacing: 0.5px;
        padding: 1rem;
        border: 1px solid $lightgray;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        width: 15rem;
        font-weight: 400;

        &--label {
            font-size: 14px;
        }
        &--data{
            font-size: 14px;
        }

        &--image {
            width: 6rem;
            height: 5rem;

            &--src {
                object-fit: contain;
                border-radius: 20%;
            }
        }
    }
}

.dashboard__image {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-size: 14px;
    &--cont {
        width: 1.4rem;
        height: 1rem;
        &-item{
            object-fit: contain;
            cursor: pointer;
        }
    }
}
.dashboard__error{
    margin: 1rem;
    @include tablet{
        margin: 1rem 2rem;
    }
    @include desktop{
        margin: 2rem 4rem;
    }
}

.orange {
    color: $dashboard_pending;
}

.data--container {
    display: flex;
    line-height: 25px;
}

.profile {
    margin: 1rem 0;
    @include tablet{
        margin: 1rem 1rem;
    }
    @include desktop{
        margin: 2rem 3rem;
    }
    &__title {
        margin: 1rem;
        font-size: 14px;
        @include desktop{
            font-size: 16px;
        }
    }
}

.profile__data {
    display: flex;
    @include tablet {
        flex-direction: row;
    }
    &--cont {
        width: 50%;
    }
    &--label {
        font-weight: 600;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        margin: 1rem 1rem;
        @include desktop{
            font-size: 14px;
        }
    }
    &--item {
        font-size: 12px;
        width: 70%;
        padding: 2%;
        margin: .5rem 0;
        @include desktop{
            font-size: 16px;
        }
    }
}
.profile__save {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    @include tablet {
        justify-content: flex-end;
        margin: 1rem;
    }
    &--button {
        cursor: pointer;
        display: flex;
        border: none;
        border: 1px solid $border-color;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: .4rem;
        border-radius: 6px;
        background-color: $button_background;
        color: $primary_text_color;
        width: 30%;
        height: 2rem;
        font-size: 12px;
        @include tablet{
            font-size: 14px;
            gap: 1rem;
            width: 20%;
        }
        @include desktop{
            font-size: 16px;
        }
        &:hover {
            background-color: $button_hover;
        }
    }
    &--cont {
        display: flex;
        flex-direction: row;
        width: 1.5rem;
    }
}
.backgroundBrown {
    background-color: $dashboard_card_dark;
    color: $black_text;
    height: 80%
}
.backgroundOffwhite {
    background-color: $dashboard_card_light;
    color: $black_text;
    height: 80%
}
.booking-details {
    display: flex;
    margin: 4rem;
    gap: 2rem;
    align-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    &__item{
        display: flex;
        gap: 2rem;
    }
    &__cont {
        width: 20rem;
        object-fit: cover;
        &--image {
            width: 100%;
            height: 100%;
        }
    }
}