@use  './typography' as*;
*,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    // color: $primary_color_brainflix;
    font-size: 1rem;
    margin: 0;
  }
  
  h1,h2,h3, p,ul{
    margin: 0;
  }
  ul,
  li,
  p {
    list-style-type: none;
    padding: 0;
  }

  Link{
    list-style-type: none;
    text-decoration: none;
  }