@use  './typography' as*;
*,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
  }
  
  h1,h2,h3, p,ul{
    margin: 0;
  }
  ul,
  li,
  p {
    list-style-type: none;
    padding: 0;
  }

  Link{
    list-style-type: none;
    text-decoration: none;
  }
  h1,h2{
    font-family: 'Abril';
    letter-spacing: 1.5px;
  }