$divider_color: #E1E1E1;
$form_background_color :#FAFAFA;
$secondary_text_color: #494545;
$black_text : #000000;
$dark_text_color: #1a3238;
$primary_text_color: #ffffff;
$navbar_background_color: #edddc8;
$primary_background_color: #13424a;
$brown_background :#7d5f4b;
$light_background_color:#f5f5dc;
$error_color : #ff0000;
$placeholder-color: #f5deb3;
$lightbrown_background : #95795d;
$provider_list_background : #f1f1ec;
$lightgray : #d3d3d3;
$button_background: #635046;
$button_hover : #222;
$dashboard_hover : #2e616a;
$dashboard_pending : #ffa500;
$dashboard_card_dark : #8f786ccf;
$dashboard_card_light : #dbd3d0;
$border-color: #808080;