@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.providerDetails__avatar--cont {
    display: flex;
    justify-content: space-between;
}

.providerDetails {
    display: flex;
    padding: .5rem 1rem;
    font-size: 12px;

    @include tablet {
        gap: 5rem;
    }

    &__name {
        // font-family: ui-sans-serif;
        }

    &__data {

        &--data{
            font-size: 14px;

            &--value{
                font-size: 13px;
            }
        }
        @include tablet {
            margin: 1rem 3rem;

        }

        &--service {
            // color: red;
        }

        &--exp {}

        &--contact {
            &--value {}
        }

        &--avatar {
            &--cont {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: contain;
                display: flex;
                justify-content: space-between;
                gap: 25rem;

            }

            &--img {
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }

}

.provider__reviews {
    &--review {
        font-size: 16px;
        padding: 1rem .5rem;
        @include tablet{
            margin: 0 3rem;
        }
    }

    &__list {
        margin: 1rem;
        border: 1px solid $divider_color;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        border-radius: 16px;
        border: 1px solid gray;
        @include tablet{
            margin: 1rem 3rem 2rem;
        }
        &--name {
            font-weight: 600;
            color: $secondary_text_color;
            font-size: 14px;
        }

        &--date {
            font-size: 13px;
        }

        &--review {
            font-size: 12px;
        }

        &--cont {
            display: flex;
            gap: .5rem;
        }

        &--image {
            width: 35px;
            height: 25px;
            background-color: $divider_color;
            border-radius: 50%;
            margin: .5rem 0;
        }

        &--details {
            width: 100%;

            &--data {
                display: flex;
                justify-content: space-between;
            }
        }

        &--dateCont {
            flex: 1;
            display: flex;
            color: $secondary_text_color;
            font-size: 12px;
        }
    }
}

.button__cont {
    display: flex;
    justify-content: space-around;

    &--item {
        margin-top: 1rem;
        width: 100px;
        height: 30px;
        border-color: #95795d;
        border-radius: 40px;
        background-color: #635046;
        color: white;

        &:hover{
            cursor: pointer;
            background-color: #222;
        }
    }
}

.provider--Details__container {
    @include tablet {
        display: flex;
        gap: 2rem;
    }

    &--experience {
        @include tablet {
            border-right: 1px solid gray;
            padding: 0 3rem 0 0;
        }

    }
}

.providerDetails__favorite--cont {
    height: 1.8rem;
    margin-right: 4rem;
    width: 2rem;
}

.login--popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 41, 64, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
    border: 1px solid black;


}

.close {
    display: none;
}

.show--provider {

    &__data {
        border: 1px solid #13424a;
        margin: 1rem;
    }
}

.backgroundTeal {
    background-color: #13424a;
    color: white;
}

.backgroundWhite {
    background-color: white;
    color: black;
}



.providerDetails__data--avatar--cont {
    display: flex;
    justify-content: space-between;
    gap: 25rem;
}

.provider--details {
    display: flex;
    gap: 3rem;
}

.provider--details__contact {
    border-right: 1px solid gray;
    padding: 0 3rem 0 0;
}