@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.provider-pin {
    width: 3rem;
}

.map__filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary_background_color;
    color: $primary_text_color;
    justify-content: space-around;
    margin-top: 17rem;
    padding: 1rem 0;
    font-size: 13px;
    @include tablet{
        margin-top: 2rem;
        padding: 0;
        flex-direction: row;
        font-size: 14px;
    }
    &-label {
        gap: 2rem;
        display: flex;
        align-items: center;
        @include tablet{
            font-size: 14px;
        }
    }

    &-bott {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 1rem;
    }

    &-select {
        width: 7rem;
        height: 1.5rem;
        text-align: center;
        border-radius: 6px;
        background-color: $lightbrown_background;
        color: $primary_text_color;
        font-weight: 600;
        font-size: 12px;
        background-color: $brown_background;
        border: none;
        
       
        &::placeholder{
            color: $placeholder_color;
        }
        @include tablet{
            font-size: 13px;
            height: 2rem;
        }
    }
}

.map__notice {
    text-align: center;
    padding: 1rem;
    color: $error_color;
    background-color: $light_background_color;
    padding: 1rem 0;
    font-size: 14px;
}

.map__popup {
    cursor: pointer;
}
.map-provider-container {
    height: 500px;

    &__dimension{
        width: 100%;
        height: calc(100% - 100px);
    }
}